<% provide(:title, 'About Us') %>

<h1>Who "we" are?</h1>
<p>The team behind #9 Hockey are first, and foremost, hockey fans.  We are passionate about everything that is hockey.</p>  

<p>We are also hockey players, and each of us have decades of playing experience.  And, we continue to play!</p> 

<p>Lastly, we are also hockey coaches with many years of coaching experience.  We have coached nearly every age group (from Minor Mites to Adults), and have coached at almost every level (from Learn to Skate to AAA).</p>

<p>In those years of experience, watching, playing, and coaching, we’ve identified that there was something missing in the development of hockey players, and in the approach that we as coaches take towards developing hockey players.  The ideas behind #9 Hockey have taken years to properly coalesce into the proper platform to provide hockey players with the best possible way of developing their passion, skill, and understanding of the game of hockey.
</p>


<h1>Why "Invitation Only"?</h1>
<p>Our “Invitation Only” policy is likely to be the most contentious idea we put forth.  But, we believe it’s the right approach for our programs.  It’s not that we want to be exclusionary, and to only “select” players (and coaches) to participate; it’s that we believe having the right players (and coaches) on the ice for a given program will provide an environment which will be most conducive to skill acquisition.</p>
<p>We spend a great deal of time and effort diligently scouting players to invite to our programs.  We are looking for those players that are, first and foremost, passionate about the game of hockey.  We also look at a player’s work ethic, willingness to attempt new skills, and commitment to improving themselves as a hockey player.</P>
<p>We also spend a great deal of time and effort diligently scouting coaches.  In our coaches, we look for people who are true fans of the game of hockey, and genuinely enjoy giving back to the game by teaching youth players the right way to play the game – a style of play that truly embodies those values exemplified by the NHL players that wore the #9 sweater.  We’re also looking for coaches who have a mastery of the skills we’re including in our programs.  We want them to be able to be able to explain, demonstrate, and fully explain the nuances of any skill they will be teaching.</p>
<p>We do our best to watch as many games and practices as possible, but we can’t be everywhere at once.  If you think we’ve missed someone, a player or coach, who should be a part of #9 Hockey, please contact our Scouting (link to the “Scouting” form) department.
</p>


<h1>Our Approach</h1>
<p>As coaches, as players, and as people, we are never satisfied, especially when it comes to hockey.  We always believe we can do something better.</p>
<p>We are always learning.  We read tremendous amounts about the latest developments in coaching , both as it applies to hockey, but also as it applies to other sports.  We keep up to date on the latest developments in our understanding of how children learn, and childhood psychology.  And, we’re not afraid of adopting and adapting drills from other coaches and other sports if we believe they will be beneficial to our players.  As one of our professor once said, “Well stole is half done”.</p>
<p>We continuously evaluate our methods and approaches to coaching skill development.  We’re never satisfied to simply run the same program over and over, and will always change, adapt, and improve our programs.  And, we’re never afraid to try something new – to see how it works, to evaluate it, and to adopt it if it makes sense.</p>
<p>We are constantly pushing ourselves as coaches to improve and to innovate.  This philosophy of “kaizen” pervades everything we do, and shows up in how well our players improve their skills and their understanding of the game of hockey.</p>


<h1>About the Name - "#9 Hockey"</h1>
<p>No too long ago, the #9 sweater on any team was synonymous with the best player on that team.  In the NHL, the #9 sweater was worn by Gordie Howe, Maurice Richard, Bobby Hull – just to name a few.</p>
</p>We don’t hold the pretense that our camps alone will  magically create players of this All-Star caliber.  But, as players and as coaches, we admire the way these players played the game.  As a part of the programs we run at #9 Hockey, we want to instill some of these “old-school” hockey values into players we have a chance to develop.</p>


<h1>History of #9</h1>
<p>It began in when Gordie Howe started wearing the #9 sweater for the Detroit Red Wings in 1947, and Maurice Richard started wearing the #9 sweater for the Montreal Canadiens in 1943.  If you’ve never heard of those two players, we can’t help you!  Gordie Howe was offered #9, and began wearing it because it afforded him a lower Pullman berth on road trips.  Maurice Richard initially began wearing #9 in honor of his daughter, who weighed 9lbs when she was born.</p>
<p>These two players inspired generations of hockey players to wear the #9 sweater, as depicted in this short cartoon simply entitled “The Sweater”.</p>
<p>(Embed the video within the page.)</p>
<p>Not long after, the best player for almost every NHL team wore #9 on their sweater.</p>


<h1>Legacy of #9</h1>
<p>How are we sure #9 was the sign of the best player on a team?  In the NHL, the #9 has been retired more often than any other number.  (The #9 has been retired 11 times.)  And, more players who wore the #9 are in the Hall of Fame than any other number.  (Nine #9s are in the Hall of Fame, though we highly suspect Mike Modano will also be elected to the Hall of Fame in the near future, bringing that number to 10.)</p>
<p>Due to the popularity of the #9, some very notable players have had to change their numbers when joining the NHL ranks. Wayne Gretzky, who had worn #9 while growing up, choose #99.  Mario Lemieux, who also wore #9 growing up, chose #66, because #9 and #99 were already taken.  #66 is an upside down #99.</p>