<h1>#9 Hockey</h1>
<p>At #9 Hockey we merge the integrity and values of old-school hockey with today's latest advancements in physiology, athlete development, and education.</p>
<p>Our program targets specific skills development accelerating a player's understanding of the game of hockey, and their ability to execute fundamental these skills in game situations.</p>
<p>Those who choose to accept our 
<%= link_to "invitation", about_us_path %> 
will not only skate away from the pack, improving their skills, but will gain a greater sense of hockey.</p>
