<h1>Player Camp Agreement</h1>
<p>Welcome, and thank you for considering a #9 Hockey LLC Hockey Camp. When you register for our camps, you're agreeing to our terms, so please take a few minutes to read over the Player Camp Agreement below.</p>
<p>Note: You are entering into a legally binding agreement.</p>
<h2>1. Introduction</h2>
<h3>1.1. Purpose</h3>
<p>The mission of #9 Hockey LLC is to provide the best possible development Hockey Camps to hockey players.  To achieve our mission, hockey players, or their parents in the case of minors, may be invited to attend our Hockey Camps in order to develop and improve their skills.</p>
<p>#9 Hockey LLC’s Hockey Camps offer demonstrations, coaching and drills for hockey specific skills developed and run by trained hockey coaches.  Our Hockey Camps operate over a pre-determined number of days and at pre-designated times, as defined in the details for the specific camp.</p>
<h3>1.2. Scope and Intent</h3>
<p>When you register a player for one of #9 Hockey LLC’s Hockey Camps, you are entering into a legal agreement and you agree to all of these terms.  If you do not agree with this Player Camp Agreement, do NOT click “Register” and do not attend our hockey camps. By clicking “Register”, you acknowledge that you have read and understood the terms and conditions of this Player Camp Agreement and that you agree to be bound by all of its provisions.</p>
<h2>2. Your Obligations</h3>
<h3>2.1. Applicable laws and this Agreement</h3>
<p>Some promises you make to us in this Agreement:</p>
<p>You will follow the law and #9 Hockey LLC’s rules for Hockey Camps.
<p>You must comply with all applicable laws and this Registration Agreement, as may be amended from time to time with or without advance notice.</p>
<p>The Camp Registration will only be used by the player specified.  Registrations may only be transferred pursuant to the rules and regulations defined below.</p>
<h3>2.2. Liability Waiver</h3>
<p>You agree to provide health insurance to cover any personal injury and property damage sustained by the player while participating in any activities or while on the premises of a #9 Hockey LLC Hockey Camp.  You assume all responsibility for any and all risk for damage or injury that may occur to the player as a participant in a #9 Hockey LLC Hockey Camp, including practices, games, skills sessions, clinics, and other activities related to the Hockey Camp.</p>
<p>In consideration of such, you hereby release and discharge the Hockey Camp, #9 Hockey LLC, it’s operators, employees, agents, supervisors, instructors, and other players for all claims, demands, rights or cause of action present or future, whether known or anticipated and resulting form or arising out of or incident to the player’s participation with the Hockey Camp.</p>
<h3>2.3. Consent to Treat</h3>
<p>By agreeing to this Agreement, you also give permission to have your child, or legal dependent, examined and treated by a qualified medical professional if he or she becomes injured in your absence.</p>
<h3>2.4. Registration Eligibility</h3>
<p>You are eligible to enter into this contract and you are at least our “Minimum Age.”  You, or your child, or legal dependent, have been invited by a representative of #9 Hockey LLC to attend this specific hockey camp.</p>
<p>The information you provide is truthful.</p>
<p>“Minimum Age” means 18 years old for the United States.</p>
<h3>2.5. Payment</h3>
<p>You will honor your payment obligations and you are okay with #9 Hockey LLC or its authorized agents storing your payment information.</p>
<p>Our refunds are as stated in our Refund Policy.</p>
<p>Failure to pay will result in your child, or legal dependent, not being allowed to participate in the Hockey Camp.</p>
<h3>2.6. Notifications and Service Messages</h3>
<p>You are okay with us providing you with important notices on our website or via email.</p>
<p>The contact information you provide must be accurate or you may not receive important notices.</p>
<h3>2.7. Privacy</h3>
<p>You are okay with us collecting, using, storing, and disclosing information about you in keeping with our Privacy Policy.</p>
<h2>3. Your Rights</h2>
<p>If you follow this agreement, we grant you, or your child, or legal dependent, the right to attend and participate in the Hockey Camp covered by your registration.</p>
<h3>4. Our Rights And Obligations</h3>
<h2>4.1. Services Availability</h3>
<p>We may change or discontinue a particular Hockey Camp.</p>
<p>In the event that a Hockey Camp is discontinued, we shall provide you with the option to receive a full refund or to apply your registration fee towards upcoming Hockey Camp(s).</p>
<p>In the event that a material change occurs to a Hockey Camp, such as, but not limited to, a change in dates, times, player age group, player skill level, skills covered, #9 Hockey LLC will provide you with the option to either maintain your registration with the Hockey Camp given the new details, or to cancel your registration for this particular Camp.  When cancelling a registration for a Hockey Camp under these conditions, you will provided with the option to receive a full refund or to apply your registration fee towards upcoming Hockey Camp(s).</p>
<h3>4.2. Disclosure of User Information</h3>
<p>You agree that we can use, store, and share information about you as permitted in our Privacy Policy.</p>
<h2>5. Limitation of Liability</h2>
<p>We are trying to limit any legal liability we may have to you.
<p>Neither #9 Hockey LLC nor any of our subsidiaries, affiliated companies, suppliers, employees, shareholders, or directors (“#9 Hockey LLC Affiliates”) shall be cumulatively liable for (a) any damages in excess of the Hockey Camp registration fee, if any, or US $200, whichever amount is greater, or (b) any special, incidental, indirect, punitive or consequential damages or loss of use, profit, revenue or data to you or any third person arising from your use of the Services. This limitation of liability is part of the basis of the bargain between the parties and without it the terms and prices charged would be different. This limitation of liability shall:</p>
<li>Apply regardless of whether (1) you base your claim on contract, tort, statute or any other legal theory, (2) we knew or should have known about the possibility of such damages, or (3) the limited remedies provided in this section fail of their essential purpose; and</li>
<li>Not apply to any damage that #9 Hockey LLC may cause you intentionally or knowingly in violation of this Agreement or applicable law, or as otherwise mandated by applicable law that cannot be disclaimed in this Agreement.</li>
<li>Not apply if you have entered into a separate agreement to purchase Services with a separate Limitation of Liability provision that supersedes this section in relation to those Services.</li>
<h2>6. Termination</h2>
<h3>6.1. Mutual rights of termination</h3>
<p>We can each end this Player Camp Agreement anytime we want.</p>
<p>You may terminate this Registration Agreement, for any or no reason, at any time, with notice to #9 Hockey LLC at info@number9hockey.com, or via mail or courier at: #9 Hockey LLC 1404 W. Erie #2, Chicago, IL  60642. This notice will be effective upon #9 Hockey LLC processing your notice.</p>
<p>#9 Hockey LLC may terminate this Player Camp Agreement for any reason or no reason, at any time, with or without notice. This cancellation shall be effective immediately or as may be specified in the notice.</p>
<p>For avoidance of doubt, only #9 Hockey LLC or the party paying for the services may terminate your Registration Agreement. Termination of your #9 Hockey LLC account may also bar you from any future use of #9 Hockey LLC services.</p>
<h3>6.2. Misuse of the Services</h3>
<p>#9 Hockey LLC may terminate the Player Camp Agreement of any User, or associated Player, who abuses or misuses the Services. Misuse of the Services includes registering players that have not been specifically invited to a Hockey Camp, using the services commercially without #9 Hockey LLC’s authorization, or any other behavior that #9 Hockey LLC, in its sole discretion, deems contrary to its purpose.</p>
<h3>6.3. Effect of Termination</h3>
<p>Termination of a Player Camp Agreement shall only apply to the Player Camp Agreement applicable to the given Hockey Camp, and shall not impact the Player Camp Agreements in affect for other Hockey Camps.
Upon termination of this Player Camp Agreement, you will lose the ability to participate in that particular Hockey Camp, and may lose the ability to participate in future Hockey Camps, at #9 Hockey LLC’s discretion. The terms of this Agreement shall survive any termination, except Section 3 (“Your Rights”) and Sections 4.1., and 4.2. (“Our Rights and Obligations”).</p>