<h1>Privacy Policy</h1>
<p>Posted: November 14, 2014</p>
<p>Effective: November 24, 2014</p>
<p>Thanks for being a part of the #9 Hockey LLC community! Here we describe how we collect, use and handle your information when you use our website and participate in our services ("Services").</p>

<h2>What and Why</h2>
<p>We collect and use the following information to provide, improve and protect our Services: 
Account. We collect, and associate with your account, information like your name, and email address. 
Services. When you use our Services, we store information related to your participation.</p>

<h2>With Whom</h2>
<p>We only use information we have about you in order to provide you with the best quality services, and to develop new services which you may find beneficial.  We won't sell it to advertisers or other third-parties.</p>
<h2>Law and Order</h2>
<p>We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to (a) comply with the law; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of #9 Hockey LLC or our users; or (d) protect #9 Hockey LLC’s property rights. 
Stewardship of your data is critical to us and a responsibility that we embrace. We believe that our users' data should receive the same legal protections regardless of whether it's stored on our services or on their home computer's hard drive. We'll abide by the following principles when receiving, scrutinizing and responding to government requests for our users' data:</p>
<li>Be transparent</li>
<li>Fight blanket requests</li>
<li>Protect all users</li>
<li>Provide trusted services</li>
<h2>How</h2>
<p>Security. We have a team dedicated to keeping your information secure and testing for vulnerabilities. We also continue to work on features to keep your information safe in addition to things like two-factor authentication, encryption of files at rest, and alerts when new devices and apps are linked to your account. 
Retention. We'll retain information you store on our Services for as long as we need it to provide you the Services. If you delete your account, we'll also delete this information. But please note: (1) there might be some latency in deleting this information from our servers and back-up storage; and (2) we may retain this information if necessary to comply with our legal obligations, resolve disputes, or enforce our agreements.<p>
<h2>Changes</h2>
<p>If we are involved in a reorganization, merger, acquisition or sale of our assets, your information may be transferred as part of that deal. We will notify you (for example, via a message to the email address associated with your account) of any such deal and outline your choices in that event. 
We may revise this Privacy Policy from time to time, and will post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you.<p>
