<h1>Refund Policy</h1>
<p>Posted: November 14, 2014</p>
<p>Effective: November 24, 2014</p>

<p>Thanks for being a part of the #9 Hockey LLC community! Here we describe our refund policy for participating in our services ("Services").</p>
<h2>For Camps</h2>
<p>Requests for refunds for camps must be submitted to #9 Hockey LLC by clicking the “Support” link at the bottom of the page and submitting the request for refund in writing.  The time stamp of the submission of this form shall serve for the following purposes.</p>
<p>75% of the camp fee can be refunded up to 1 week (7 days) prior to the first day of the camp.</p>
<p>25% of the camp fee can be refunded up to 48 hours prior to start of the first session of the camp.</p>
