<% provide(:title, 'Why #9?') %>
<h1>Why #9?</h1>
<p>As coaches, we are constantly evaluating our players and looking to see how we can help them reach their maximum potential as hockey players.  We've develop ways to develop and enhance a player's key fundamentals and understanding of the game.</p>
<p>#9 Hockey will give a framework to target specific skill development, and to elevate each player's hockey sense.  Our approach is meant to enhance the traditional games and practices structure.</p>
<p>Some skills fundamental to hockey simply don’t get developed through traditional practices, for one reason or another.  We target these skills, determine the best environment and program for the players to develop these skills, and provide the necessary instruction, and skill repetitions, for players to acquire these skills.</p>
<p>Think of #9 Hockey’s programs as “skill accelerators” – we focus in on certain skills with every program to “accelerate” players’ development of those skills, their understand of the game of hockey (“hockey sense”), and their overall development.</p>


<h1>For Players</h1>
<p>At the core of all our programing is a focus on understanding the developmental needs of the players.  We identify gaps in hockey player’s understanding of the fundamentals of hockey and design specific programs to address these developmental gaps.  We expend a great deal of time and effort developing our programs so that our players get the most out of their time with us.</p>
<p>Our approach is not for all players.  We understand that.  Our programs are
<%= link_to "invitation only", about_us_path %> 
for that very reason.  We scout and invite only those players that will get the most out of our approach, and out of the skill development we’re targeting in the specific program.</p>


<h1>For Coaches</h1>
<p>Just like #9 Hockey programs are invitation only for the players, it is also 
<%= link_to "invitation only", about_us_path %> for the coaches.  We also scout our coaches prior to inviting them to coach in our programs.  With our approach to skill development, it is paramount that we have the right coaches on the ice to provide instruction to the players.  We only invite coaches that:</p>
	<p>1. have an advanced understanding of the skills to be developed</p>
	<p>2. can execute the skill themselves at full speed and in game situations</p>
	<p>3. have the right temperament and approach to educating youth players</p>
<p>We are extremely selective when it comes to choosing our coaches.  We believe that having the right coaches on the ice during our programs is critical to ensuring that our players gain the most out of their time in our programs.</p>
