<p>Thank you for Registering <%= @player.first_name %> for <%= @camp.name %>.</p>

<p>Additional information relating to this camp shall be emailed in the coming weeks.</p>

<p>Additionally, we shall send out payment details by December 1st.  Full payment for the camp is due by December 19th.</p>

<p>In the meantime, let us know if you have any additional questions about the camp.</p>

<p>Regards,
<p>#9 Hockey</p>
