<% provide(:title, "Create Camp") %>
<h1>Create Camp</h1>
<p>Enter the Camp's details below:</p>

<div class="row">
  	<div class="span6 offset3">
    	<%= form_for(@camp) do |camp| %>
			<%= render 'camps_form', camp: camp %>

      		<%= camp.submit "Save", class: "btn btn-large btn-primary" %>
    	<% end %>
    </div>
</div>