<%# provide(:title, @user.first_name) %>
<% provide(:title, 'Admin') %>
<h1><%#= @user.first_name %></h1>
<h1><%= 'Admin' %></h1>

<p>This is your admin home.  Are you too good for your admin home?</p>