<% provide(:title, 'Login') %>
<p></p>
<p class="center">Oops!  Looks like we ran into a problem.  Sorry about that.</p>
<p class="center">We're working on making sure this gets fixed as quickly as possible.  Check back again soon.</p>

<p></p>
<p class="center">In the meantime, please contact our 
<%= mail_to "support@number9hockey.com", "Support Department", subject: "Request for Info" %> 
for additional information.</p>

