<% provide(:title, 'Contact Us') %>
<h1>Contact Info:</h1>
<p align="center">#9 Hockey LLC</p>
<p align="center">1404 W. Erie, #2</p>
<p align="center">Chicago, IL  60642</p>
<p align="center">(773) 354-2100</p>
<p align="center">info@number9hockey.com</p>

<h1>Submit a note directly to us below:</h1>
<div align="center">
	<div class="row">
	  <div class="span6 offset3">
	   	<%= form_for(@info_request) do |info_request| %>
	      <%= render 'info_form', info_request: info_request %>
	      
	     	<%= info_request.submit "Submit", class: "btn btn-large btn-primary" %>
	    <% end %>
	  </div>
	</div>
</div>