<% provide(:title, 'Contact Us') %>

<h1>Send us an E-mail:</h1>
<div align="center">
	<div class="row">
	  <div class="span6 offset3">
	   	<%= form_for(@info_request) do |info_request| %>
	      <%= render 'info_form', info_request: info_request %>
	      
	     	<%= info_request.submit "Submit", class: "btn btn-large btn-primary" %>
	    <% end %>
	  </div>
	</div>
</div>

<h1>Send us a Postcard:</h1>
<div align="center">
	<p>#9 Hockey LLC</p>
	<p>1404 W. Erie, #2</p>
	<p>Chicago, IL  60642</p>
	<p>(224) 592-5937</p>
	<p>info@number9hockey.com</p>
</div>