<% provide(:title, "Edit Player") %>
<h1>Update Player</h1>

<div align="center">
	<p>Update the Player's information below:</p>

	<div class="row">
	  	<div class="span6 offset3">
	    	<%= form_for(@player) do |player| %>
				<%= render 'players_form', player: player %>

	      		<%= player.submit "Update", class: "btn btn-large btn-primary" %>
	    	<% end %>
	    </div>
	</div>
</div>