<footer class="footer">
  <small>
    <a href="http://number9hockey.com/"> © #9 Hockey</a>    
  </small>
  <nav>
    <ul>
      <li><%= link_to "Scouting",   '#' %></li>
      <li><%= link_to "Contact Us", '#' %></li>
      <!--<li><a href="scouting@number9hockey.com">Scouting</a></li>
      <li><a href="info@number9hockey.com">Info</a></li>-->
    </ul>
  </nav>
</footer>